/* .myimg{
display: flex;
align-items: flex-start;
}
img{
    position: relative;
    margin-top: -200px;
} */

.hero{
  min-height: 100vh;
  background: linear-gradient(135deg, #0b1a5a, #1e4fd8);
  color: white;
  padding: 60px;
  display: flex;
  align-items: center;
  gap: 50px;

}

.hero-img {
  width: 250px;
  height: 300px;
    
}

.hero-right h1 {
  font-size: 48px;
  margin-top: 30px;
}

.primary-btn {
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  background: #0b1a5a;
  color: white;
  cursor: pointer;
}

.cards {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.card {
  background: #0b1a5a;
  padding: 25px;
  border-radius: 15px;
  width: 220px;
  text-align: center;
}

