/* .navbar {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  justify-content: right;
  background: #4b0cdf9d;
  color: white;
}

.link {
  margin-right: 20px;
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.logo {
    width: 50px;
    height: 40px;
    
} */


.navbar {
  height: 70px;
  background: #0b1a5a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.logo img {
  height: 40px;
  cursor: pointer;
}

.nav-links a {
  color: white;
  margin-left: 30px;
  text-decoration: none;
  font-size: 16px;
}
