
 .App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.buttons {
  margin-bottom: 20px;
}

button:hover {
  background-color: #5548c8;
}

.card {
  margin: 10px;
  text-align: center;
}

.card img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}
